<div class="Main-Container Slide-Container">
    <div class="TextArea">
        <h2 class="Text">{{BoxText | titlecase}}</h2>
        <div class="buttons" *ngIf="IsRightScreen && IsMobile">
        <button class="Button-Left" (click)="LeftClick()"><mat-icon [className]="Left">arrow_right_alt</mat-icon></button>
        <button class="Button-Right" (click)="RightClick()"><mat-icon [className]="Right">arrow_right_alt</mat-icon></button>
        </div>
    </div>
    <div class="Details-Container">
        <div class="Education-Details" *ngFor="let ExperienceDetails of ExperienceDetails">
            <h5 class="Year">{{ExperienceDetails.Year | titlecase}}</h5>
            <h4 class="Institute">{{ExperienceDetails.Name | titlecase}}</h4>
            <h3 class="Course-Name">{{ExperienceDetails.CourseName | titlecase}}</h3>
            <p [innerHTML]="ExperienceDetails.Description" class="Description"></p>
        </div>
    </div>
</div>
