.Main-Container {
    margin: 6vw 0vw 6vw 0vw;
    padding: 0vw 10vw;
}

.TextArea {
  width: 30em;
  height: 7.4em;
}

/* ------------------- Media Query ----------------------------- */

@media (max-width:500px){
    .Main-Container{
      margin: 5vw 0vw;
      padding: 0vw 2vw;
    }
  
    .Details-Container{
      grid-template-columns: repeat(1,97%);
      grid-auto-columns: 98%;
    }
  }
  