.Mid-navigation {
    padding: 0rem 0rem 0rem 1.5vw;
    margin: 1.25vw 0vw;
}

.Nav-MainList {
    display: flex;
    justify-content: center;
    gap: 1.5vw;
}

.Nav-list {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.8rem;
    cursor: pointer;
    text-decoration: none;
}

.Nav-list:hover{
    color: var(--Button-background-Color);
    transition: 0.5s;
}

.Nav-list::after {
    content: '';
    display: block;
    width: 0%;
    height: .165rem;
    background-color: var(--Button-background-Color);
    transition: width 0.5s;
}

.Nav-list:hover:after {
    width: 100%;
    transition: width 0.5s;
}